<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="jumbotron" >
  <h1>JIANG YING</h1>
  <p class="lead">
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
    Recherche d'un Stage de 2 mois en Sciences Informatiques.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="assets/images/cv.pdf"><span class="glyphicon glyphicon-paperclip"></span> mon cv    </a></p>
</div>

</body>
</html>
